/* Home View */
.title {
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(45, 10, 243);
    font-size: 80px;
    text-align: center;
}
.slogan {
    font-family: 'Nanum Brush Script', cursive;
    color: rgb(251, 8, 8);
    font-size: 35px;
    margin-top: -70px;
    text-align: center;
}
.continue {
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 90px;
}
.ng-scope {
    background-color: white;
}
.navh, .nava, .navn {
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-weight: 900;
    width: 100%;
}
.row {
    text-align: center;
}
#image{
    margin-top: -50px;
}
.letter, .image, .column3 {
    float: left;
    width: 33.33%;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    color: rgb(8, 235, 8)
}
