/* Home View */
.title {
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(4, 97, 173);
    font-size: 80px;
    text-align: center;
}
.slogan {
    font-family: 'Nanum Brush Script', cursive;
    color: rgb(7, 140, 248);
    font-size: 35px;
    margin-top: -70px;
    text-align: center;
}
.continue {
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 90px;
}
.ng-scope {
    background-color: rgb(110, 248, 163);
}
.navh, .nava, .navn {
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-weight: 900;
    width: 100%;
}
