/* Home View */
/* Styling for Title of App */
.title { 
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(45, 10, 243);
    font-size: 80px;
    text-align: center;
}
/* Styling for slogan of App */
.slogan { 
    font-family: 'Nanum Brush Script', cursive;
    color: rgb(251, 8, 8);
    font-size: 35px;
    margin-top: -70px;
    text-align: center;
}
/* Styling for Directions of App and Tech used page */
.continue { 
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 90px;
    
}
/* Styling for background of the entire app */
.ng-scope { 
    background-color: white;
}
/* Styling for Navigation menu */
.navh, .nava, .navn, .navc, .navs { 
    width: 100%;
}
/* For home view image */
.image1{
    margin-top: 50px;
    text-align: center;
}
/* Alphabet View Letters */
.upperLower, .Number {
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(45, 10, 243);
    font-size: 120px;
    margin-left: 75px;
    margin-top: -1px; 
}
/* Style for underline in Alphabet and Numbers */
#border {
    font-family: 'Nanum Pen Script', cursive;
    margin-top: -140px;  
    color: red;
    margin-left: 40px;

}
/* Styling for description of items in all views */
.desc {
    font-family: 'Walter Turncoat', cursive;
    font-size: 45px;
    text-align: center;;
    margin-top: -30px;

}
/* Styling for placement of images in alphabet and numbers */
#abcimg, #numbersimg  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -165px;
    
}
/* Styling to display colors and shapes images inline */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
/* Used to help display images by their original sizes */
#colimg{
    object-fit: none;
    
}
/* Styling for header of Colors View */
.color {
    font-family:'Nanum Pen Script', cursive;
    font-size: 90px;
    text-align: center;
}
/* Styling for header of Game View*/
.game {
    font-family:'Nanum Pen Script', cursive;
    font-size: 60px;
    text-align: center;   
}
.gameHeader {
    display: flex;
    align-items: center;
    justify-content: center;

}
/* Styling for display of game images */
.row3 {
    align-self: center;
    justify-content: center;
    display: flex;
}
.row4 {
    align-self: center;
    justify-content: center;
    display: flex;
}
/* Styling for image borders in Game View */
.imageBorder {
    border: rgb(89, 4, 97);
    border-style: solid;
    border-width: 4px;
     
    margin: 5px;
}
/* Used to reset border to nothing */
.border {
    border: none;
}
/* Styling for tech page */
.tech{ 
    font-family: 'Walter Turncoat', cursive;
    color: blue;
    font-size: 25px;
    text-align: center;
    margin-top: 90px; 
}
.techList {
    list-style-type: none;
    background-color: red;
    color: white;
    border-radius: 150px;
    font-size: 25px;
}