<div ng-controller="HomeController" ng-cloak>
    <md-content class="md-padding">
    <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="#!/home" name="home" class="navh">
        Home
    </md-nav-item>
    <md-nav-item md-nav-href="#!/alphabet" onclick="getAlphabetInfo()" name="alphabet" class="nava">
        Alphabet
    </md-nav-item>
    <md-nav-item md-nav-href="#!/numbers" name="numbers" class="navn">
        Numbers
    </md-nav-item>
      
      