<div ng-controller="HomeController" ng-cloak>
    <md-content class="md-padding">
    <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="#!/home" name="home" class="navh" aria-label="home">
        <md-icon class="icon1" md-svg-icon="images/home.svg"></md-icon>
    </md-nav-item>
    <md-nav-item md-nav-href="#!/alphabet" name="alphabet" class="nava" aria-label="alphabet">
        <md-icon class="icon1" md-svg-icon="images/alphabet.svg"></md-icon>
    </md-nav-item>
    <md-nav-item md-nav-href="#!/numbers" name="numbers" class="navn" aria-label="numbers">
        <md-icon class="icon1" md-svg-icon="images/numbers.svg"></md-icon>
    </md-nav-item>
    <md-nav-item md-nav-href="#!/colors" name="colors" class="navc" aria-label="colors">
        <md-icon class="icon1" md-svg-icon="images/colors.svg"></md-icon>
    </md-nav-item>
    <md-nav-item md-nav-href="#!/shapes" name="shapes" class="navs" aria-label="shapes">
        <md-icon class="icon1" md-svg-icon="images/shapes.svg"></md-icon>
    </md-nav-item>
    <md-nav-item md-nav-href="#!/games" name="game" class="navs" aria-label="game">
        <md-icon class="icon1" md-svg-icon="images/game.svg"></md-icon>
    </md-nav-item>
      
      